/* screen - product-management */

.product-management {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-management .pm_global_1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  position: relative;
  width: 100%;
}

.product-management .pm_section_1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--red-damask);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.product-management .header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.product-management .header-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0px 470px;
  justify-content: space-between;
  padding: 42px;
  position: relative;
}

.product-management .logo {
  cursor: pointer;
  position: relative;
  width: 63.13px;
}

.product-management .menu {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-end;
  margin-left: -3.81e-06px;
  min-height: 62px;
  position: relative;
}

.product-management .product-management-1 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.product-management .product-manager-au-quotidien {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.product-management .surname {
  letter-spacing: -0.24px;
  line-height: 33px;
  position: relative;
  text-align: center;
}

.product-management .overlap-group-3 {
  height: 72px;
  position: relative;
  width: 481px;
}

.product-management .rectangle-10-1 {
  background-color: var(--macaroni-and-cheese);
  height: 64px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 473px;
}

.product-management .rectangle-9-1 {
  background-color: var(--negroni);
  height: 65px;
  width: 473px;
}

.product-management .jemmene-mon-produit {
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 464px;
}

.product-management .pm_section_2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 133px;
  position: relative;
  width: 100%;
}

.product-management .pm_section {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  max-width: 1100px;
  position: relative;
  width: 100%;
}

.product-management .jutiliserais-mon-ex {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.product-management .pm_section_2_squares {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 32px 90px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.product-management .pm_square {
  height: 237.56px;
  position: relative;
  width: 294.35px;
}

.product-management .overlap-group {
  height: 238px;
  position: relative;
  width: 292px;
}

.product-management .rectangle-31 {
  background-color: var(--macaroni-and-cheese);
  height: 226px;
  left: 8px;
  position: absolute;
  top: 12px;
  width: 284px;
}

.product-management .rectangle-30 {
  background-color: var(--negroni);
  height: 226px;
  left: 0;
  position: absolute;
  top: 0;
  width: 284px;
}

.product-management .creer-une-vision-ins {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 258px;
}

.product-management .construire-une-strat {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 71px;
  width: 258px;
}

.product-management .pm_square-1 {
  height: 237.56px;
  position: relative;
  width: 294.35px;
}

.product-management .mettre-en-place-des {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 71px;
  width: 258px;
}

.product-management .identifier-les-oppor {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 258px;
}

.product-management .comprendre-votre-met {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 258px;
}

.product-management .prioriser-selon-la-v {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 258px;
}

.product-management .co-construire-avec-v {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 258px;
}

.product-management .travailler-au-quotid {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 58px;
  width: 258px;
}

.product-management .aller-chercher-et-me {
  left: 13px;
  letter-spacing: -0.18px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 82px;
  width: 258px;
}

.product-management .pm_section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 90px;
  position: relative;
  width: 100%;
}

.product-management .est-ce-que-nous-sommes-un-bon-match {
  color: var(--midnight-blue);
  flex: 1;
  font-family: var(--font-family-inferi-trial-regular);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.product-management .pm_section_3_detail {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  max-width: 840px;
  position: relative;
  width: 100%;
}

.product-management .pm_section_3_detail_1 {
  align-self: stretch;
  height: 656.95px;
  position: relative;
  width: 100%;
}

.product-management .overlap-group-4 {
  height: 657px;
  position: relative;
  width: 840px;
}

.product-management .rectangle-31-1 {
  background-color: var(--hippie-blue);
  height: 643px;
  left: 9px;
  position: absolute;
  top: 14px;
  width: 831px;
}

.product-management .rectangle-30-1 {
  background-color: var(--link-water);
  height: 640px;
  left: 0;
  position: absolute;
  top: 0;
  width: 830px;
}

.product-management .pm_section_3_1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 35px;
  min-height: 517px;
  position: absolute;
  top: 49px;
  width: 795px;
}

.product-management .pm_section_3_1_5 {
  align-items: center;
  display: flex;
  gap: 28px;
  min-width: 797px;
}

.product-management .checkbox-1 {
  align-self: flex-end;
  margin-bottom: -0.16px;
}

.product-management .vous-tes-intresss-par-mon-profil {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 4.7px;
  min-height: 37px;
  white-space: nowrap;
  width: 715px;
}

.product-management .pm_section_3_1_4 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  height: 76px;
  margin-left: 0;
  margin-top: 52px;
  min-width: 765px;
}

.product-management .checkbox-2 {
  background-image: url(../img/checkbox-1.svg);
  background-size: 100% 100%;
  margin-top: 3.59px;
}

.product-management .vous-tes-remote-fri {
  letter-spacing: 0;
  line-height: normal;
  min-height: 76px;
  width: 682px;
}

.product-management .pm_section_3_1_3 {
  align-items: center;
  display: flex;
  gap: 28px;
  margin-left: 0;
  margin-top: 54px;
  min-width: 765px;
}

.product-management .checkbox {
  align-self: flex-end;
  background-image: url(../img/checkbox-1.svg);
  background-size: 100% 100%;
  height: 53px;
  margin-bottom: -0.16px;
  width: 52px;
}

.product-management .vous-avez-une-cultur {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 5.83px;
  min-height: 38px;
  width: 682px;
}

.product-management .pm_section_3_1_2 {
  align-items: center;
  display: flex;
  gap: 28px;
  height: 76px;
  margin-left: 0;
  margin-top: 48px;
  min-width: 765px;
}

.product-management .checkbox-3 {
  background-image: url(../img/checkbox-1.svg);
  background-size: 100% 100%;
  margin-bottom: 10.01px;
}

.product-management .surname-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 76px;
  width: 682px;
}

.product-management .pm_section_3_1_1 {
  align-items: center;
  display: flex;
  gap: 28px;
  margin-left: 0;
  margin-top: 54px;
  min-width: 768px;
}

.product-management .vous-souhaitez-amli {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 5.83px;
  min-height: 38px;
  width: 686px;
}

.product-management .pm_section_3_button {
  cursor: pointer;
  height: 72.21px;
  position: relative;
  width: 334.24px;
}

.product-management .overlap-group1 {
  height: 72px;
  position: relative;
  width: 332px;
}

.product-management .rectangle-10-2 {
  background-color: var(--macaroni-and-cheese);
  height: 64px;
  left: 6px;
  position: absolute;
  top: 8px;
  width: 326px;
}

.product-management .rectangle-9-2 {
  background-color: var(--negroni);
  height: 65px;
  width: 326px;
}

.product-management .apprenons-a-nous-connaitre {
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 320px;
}

.product-management .mon-approche-en-quelques-mots {
  align-self: stretch;
  color: var(--shark);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.product-management .pm_section_4_details {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.product-management .pm_section_4_offer_1 {
  height: 273px;
  position: relative;
  width: 501px;
}

.product-management .overlap-group1-1 {
  height: 273px;
  position: relative;
  width: 503px;
}

.product-management .overlap-group-5 {
  height: 251px;
  left: 0;
  position: absolute;
  top: 0;
  width: 501px;
}

.product-management .rectangle-10-3 {
  background-color: var(--red-damask);
  height: 238px;
  left: 10px;
  position: absolute;
  top: 13px;
  width: 491px;
}

.product-management .rectangle-9-3 {
  background-color: var(--negroni);
  height: 240px;
  width: 492px;
}

.product-management .commencer-dans-une-nouvelle-entreprise {
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 343px;
}

.product-management .pm_b1 {
  align-items: flex-end;
  background-color: var(--red-damask);
  border-radius: 100px;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  left: 64px;
  min-width: 170px;
  padding: 18.5px 60.2px;
  position: absolute;
  top: 209px;
}

.product-management .x {
  height: 27px;
  width: 45px;
}

.product-management .pm_section_4_offer {
  height: 232px;
  position: relative;
  width: 501px;
}

.product-management .overlap-group-1 {
  height: 232px;
  position: relative;
  width: 503px;
}

.product-management .overlap-group-2 {
  height: 210px;
  left: 0;
  position: absolute;
  top: 0;
  width: 501px;
}

.product-management .rectangle-10 {
  background-color: var(--red-damask);
  height: 197px;
  left: 10px;
  position: absolute;
  top: 13px;
  width: 491px;
}

.product-management .rectangle-9 {
  background-color: var(--negroni);
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 492px;
}

.product-management .pm_b {
  align-items: flex-end;
  background-color: var(--red-damask);
  border-radius: 100px;
  display: flex;
  height: 64px;
  justify-content: flex-end;
  left: 64px;
  min-width: 170px;
  padding: 18.5px 60.2px;
  position: absolute;
  top: 168px;
}

.product-management .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--midnight-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  padding: 50px 0px;
  position: relative;
  width: 100%;
}

.product-management .footer_contact {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  max-width: 1100px;
  padding: 0px 42px;
  position: relative;
  width: 100%;
}

.product-management .dfinissez-rigoureus {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.product-management .overlap-group-6 {
  height: 72px;
  position: relative;
  width: 310px;
}

.product-management .rectangle-10-4 {
  background-color: var(--hippie-blue-2);
  height: 64px;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 305px;
}

.product-management .rectangle-9-4 {
  background-color: var(--link-water-2);
  height: 65px;
  width: 305px;
}

.product-management .checkbox-4 {
  height: 53px;
  width: 52px;
}

.product-management .pratiquer-le {
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 343px;
}

.product-management .x-3 {
  height: 27px;
  width: 45px;
}
