@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400|Inter:500");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/67de7d95a31d67f6e9fd3da0.67de7d96a31d67f6e9fd3da3.n51kARW.vcp.png");

@font-face {
  font-family: "Inferi-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://anima-uploads.s3.amazonaws.com/projects/67de7d97a31d67f6e9fd3da5/fonts/inferi-regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Inferi-Trial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://anima-uploads.s3.amazonaws.com/projects/67de7d97a31d67f6e9fd3da5/fonts/inferi-regular.otf")
    format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
