:root { 
  --black: #000000;
  --black-2: #000000cc;
  --eerie-black: #1e1e1e;
  --hippie-blue: #558eb0;
  --hippie-blue-2: #558db0;
  --link-water: #dcecf6;
  --link-water-2: #dbecf6;
  --macaroni-and-cheese: #ffb07b;
  --midnight-blue: #1d506f;
  --negroni: #ffdbc4;
  --orange: #f26419;
  --red-damask: #d9773d;
  --shark: #232424;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 19px;
  --font-size-s: 16px;
  --font-size-xl: 22px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 47px;
 
  --font-family-inferi-regular: "Inferi-Regular", Helvetica;
  --font-family-inferi-trial-regular: "Inferi-Trial-Regular", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-rubik: "Rubik", Helvetica;
}
.rubik-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-midnight-blue-16px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.rubik-normal-orange-20px {
  color: var(--orange);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.rubik-normal-midnight-blue-18px {
  color: var(--midnight-blue);
  font-family: var(--font-family-rubik);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.inferi-regular-normal-shark-47px {
  color: var(--shark);
  font-family: var(--font-family-inferi-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.rubik-light-shark-24px {
  color: var(--shark);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.inferi-regular-normal-midnight-blue-47px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inferi-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.rubik-light-midnight-blue-18px {
  color: var(--midnight-blue);
  font-family: var(--font-family-rubik);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.inferi-regular-normal-white-47px {
  color: var(--white);
  font-family: var(--font-family-inferi-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.rubik-light-white-22px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.rubik-normal-red-damask-35px {
  color: var(--red-damask);
  font-family: var(--font-family-rubik);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.inferi-trial-regular-normal-midnight-blue-47px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.rubik-light-red-damask-16px {
  color: var(--red-damask);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.rubik-normal-red-damask-28px {
  color: var(--red-damask);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inferi-regular-normal-white-45px {
  color: var(--white);
  font-family: var(--font-family-inferi-regular);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}

.inferi-regular-normal-midnight-blue-26px {
  color: var(--midnight-blue);
  font-family: var(--font-family-inferi-regular);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

.rubik-light-eerie-black-19px {
  color: var(--eerie-black);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.rubik-light-black-22px {
  color: var(--black-2);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.rubik-normal-midnight-blue-35px {
  color: var(--midnight-blue);
  font-family: var(--font-family-rubik);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.rubik-light-black-20px {
  color: var(--black-2);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.rubik-light-shark-19px {
  color: var(--shark);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.rubik-light-shark-32px {
  color: var(--shark);
  font-family: var(--font-family-rubik);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
}

.rubik-light-shark-28px {
  color: var(--shark);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.inferi-trial-regular-normal-white-47px {
  color: var(--white);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.inferi-regular-normal-shark-40px {
  color: var(--shark);
  font-family: var(--font-family-inferi-regular);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.inferi-trial-regular-normal-shark-32px {
  color: var(--shark);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.inferi-trial-regular-normal-shark-47px {
  color: var(--shark);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.inferi-trial-regular-normal-red-damask-64px {
  color: var(--red-damask);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
}

.inferi-regular-normal-shark-28px {
  color: var(--shark);
  font-family: var(--font-family-inferi-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.rubik-light-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.inferi-trial-regular-normal-shark-26px {
  color: var(--shark);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

.inferi-trial-regular-normal-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-inferi-trial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
