---
layout: default
---

<div class="blog">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
          <div class="keywords-preview"> {{ post.keywords | escape }} </div>
          <a href="{{ post.url | relative_url }}">
          <div class="article-title-preview"> {{ post.title | escape }} </div>
          </a>
         <div class="article-content">{{ post.excerpt }}</div>
          <a href="{{ post.url | relative_url }}">
          <div class="article-keep-reading"> CONTINUER À LIRE</div>
          </a>
         <div class="article-date" post-meta">{% include date-fr.html date=post.date %}</div>
         {%- assign date_format = site.date_format -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
